<!-- .song -->
<div class='row-fluid band pinkband'>
    <div class='row-fluid'>
        {{#if rdio_track }}
            <div class='span6'>
                <img src="{{rdio_track.icon}}" style=''></img>
            </div>
        {{/if}}
        <div class='span6'>
            <div class='row-fluid'>
                <div class='row-fluid'>
                    {{#if title}}
                        <h3>{{title}}</h3>
                    {{/if}}
                    {{#if artist_name}}
                        <h4>by {{artist_name}}</h4>
                    {{/if}}
                </div>
                    <div class='row-fluid'>
                        {{#if rdio_track}}
                            <a href="{{rdio_link}}" class='btn btn-info rdio-open' style='margin-bottom: 20px;'>Open in Rdio</a>
                        {{/if}}
                        {{#if spotify_track}}
                            <a href="{{spotify_track.href}}" class='btn btn-success spotify-open' style='margin-bottom: 20px'>Open in Spotify</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
